# IDE files 
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!*.iml

# Python virtual environments
.venv/
env/
venv/

# Simulation outputs
*.out
*.log
*.dat
*.txt
!evolution.txt
*.csv
*.xml
*.json
*.db
*.db.json

# Gmsh options
*.opt

# Profiling outputs
gmon.out

# Version lock files
/examples/*/version

# Temporary or system files
*.tmp
*.bak
.DS_Store

# OpenSees or analysis scratch files 
*.tcl~
*.rec

# Python bytecode 
__pycache__/
*.pyc


